
<!-- END NAV -->
<div class="container">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li id="productsNav">
                        <a>Produits</a>
                        <ul>
                            <li><a id="toAdminProducts">Gérer les produits</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>Utilisateurs</a>
                        <ul>
                            <li><a id="toAdminUsers">Gérer les utilisateurs</a></li>
                            <li><a id="toAccountManagement">Gérer mon compte</a></li>
                        </ul>
                    </li>
                </ul>

                <p class="menu-label">
                    Transactions
                </p>
                <ul class="menu-list">
                    <li id="clientsList"><a>Liste des clients</a></li>
                    <li><a>Solde</a></li>
                </ul>

            </aside>
        </div>
        <div class="column is-9 animated fadeIn">
            <section class= "hero welcome is-small" >
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Tableau de bord
                        </h1>
                        <h2 class="subtitle">
                            Toutes les informations importantes en un coup d'oeil
                        </h2>
                    </div>
                </div>
            </section>
            <section class="info-tiles">

                <div class="tile is-ancestor has-text-centered">

                    <div class="tile is-parent is-7" id="main-graph">
                        <div class="tile is-child box">
                            <p class="subtitle" id="graphTitle">Articles populaires</p>
                            <div class="chart-container"><canvas id="chart"></canvas></div>
                            <!--<script src="js/charts.js" style="width: 100%; height: 100%;"></script>-->
                        </div>
                    </div>

                    <div class="admin tile">
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child box">
                                <p class="tile-title" size="1">Commandes cette session</p>
                                <p class="subtitle" id="nOrdersSession">0</p>
                            </div>
                            <div class="tile is-child box">
                                <p class="tile-title" size="1">Dernière commande</p>
                                <p class="subtitle" id="lastOrder">Sergeï Soursousky</p>
                            </div>
                        </div>
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child box">
                                <p class="tile-title" size="1">Bénéfice</p>
                                <p class="subtitle" id="profit">0€</p>
                            </div>
                            <div class="tile is-child box">
                                <p class="tile-title" size="1">Stock faible</p>
                                <p class="subtitle" id="lowStock">Something's wrong =/</p>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <div class="columns admin">
                <div class="column is-6">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Liste de course
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped" id="shoppingListProducts">
                                    <tbody>
                                        <%
                                        let i = 0;
                                        shoppingList.forEach((product)=>{
                                            %>
                                            <tr class="has-icons-right shoppingProduct<%=i%>">
                                                <td class="shoppingProduct<%=i%>_name"> <%=product%> </td>
                                                <td class="icon is-right">
                                                  <a class= "button is-small is-info" onclick="shoppingListProductEdit( {name:'<%=product%>', id: <%=i%>})" href="#">
                                                    <i class="fa fa-edit "></i>
                                                  </a><a class= "button is-small is-success" onclick="shoppingListCheckProduct( {name:'<%=product%>', id: <%=i%>})" href="#">
                                                    <i class="fa fa-check "></i>
                                                  <!--</a><a class= "button is-small is-danger" onclick="shoppingListDeleteProduct( {name:'<%=product%>', id: <%=i%>})" href="#">
                                                    <i class="fa fa-trash"></i>
                                                </a> -->
                                                </td>
                                            </tr>
                                            <%
                                            i++;
                                        })
                                        %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="content">
                          <div class="control has-icons-left has-icons-right">
                            <input id="shoppingListInput" class="input is-large" type="text" placeholder="Ajouter un produit...">
                            <span class="icon is-medium is-left">
                              <!-- <i class="fa fa-search"></i> -->
                            </span>

                            <div class="icon is-medium is-right" id="button_addProductShoppingList" style="cursor: pointer">
                              <a class= "button is-big" href="#" >
                                <i class="fa fa-cart-plus "></i>
                              </a>
                            </div>

                          </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Recherche dans l'inventaire
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-large" type="text" placeholder="">
                                    <span class="icon is-medium is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <span class="icon is-medium is-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Utilisateurs
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-large" type="text" placeholder="">
                                    <span class="icon is-medium is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <span class="icon is-medium is-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
